
/*to comment */
body {
    background-color: darkblue;
  }
  
  #text {
    background-color: black;
    color: white;
    padding: 10px;
  }
  
  #game {
    max-width: 500px;
    max-height: 400px;
    background-color: lightgray;
    color: white;
    margin: 0 auto;
    padding: 10px;
  }
  
  #controls {
    border: 1px black solid;
    padding: 5px;
  }
  
  #stats {
    border: 1px black solid;
    color: black;
    padding: 5px;
  }
  
  #monsterStats {
    display: none;
    border: 1px black solid;
    color: white;
    padding: 5px;
    background-color: red;
  }
  
  .stat {
    padding-right: 10px;
  }


/*
#school:{
    border-radius: 20px ;
    border: 3px solid purple;  
    /*
    outline-style: input the number here 
    font-family: 
    font-weigt
    visibility: hidden;
    display:none;
    */




/*
tr:hover{
    background-color 
}
*/
/*
.dropbtn{
color: whitesmoke;
background-color: blue;
padding: 10px;
border: none;
font-size: 16px;
cursor: pointer;

}

*/
/*
.droplist {
    display: none;
    background-color: lightskyblue;
    position: absolute;
    min-width: 86px;
      
}

.droplist a{
    color: black;
    padding: 11px 15px;
    text-decoration: none;
    display: block;
}

.droplist a:hover{
    background-color: aliceblue;
}


.dropdown:hover  .droplist{
    display: block;

}


.dropdown:hover .dropbtn{
    background-color: bisque;
}

 
.dropdown{
    position: fixed;
    display: inline-block;
}

*/